
.riskLevelChart{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    .buttonsBottomRow{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: 30%;
        .tableButton{
            margin-top: 20px;
            text-transform: capitalize;
            font-size: 16px;
            padding: 5px 60px 5px 60px;
            border-radius: 5px;
            border: 2px solid rgba(109,0,255,1);
            background-color: rgba(109,0,255,1);
            color: white;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            z-index: 999999999;
        }
    }

    .tui-chart-chartExportMenu-area{
        display: none !important;
        z-index: 0;
    }
}